---
layout: default
---
<h1>{{ page.title }}</h1>
<!-- <p class="meta">{{ page.date | date_to_string }}</p> -->

<div class="post">
  {{ content }}
</div>

<div class="PageNavigation">
  {% if page.previous.site=='useiOS' %}
    {% if page.previous.url %}
      { <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a> }
    {% endif %} 
  {% endif %} 
  {% if page.next.site=='useiOS' %}
    {% if page.next.url %}
      { <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a> }
    {% endif %}
  {% endif %} 
</div>
<BR>
<div class="getting-help">
<A HREF="/feedback/2020/08/13/FeedbackI.html">Sending Feedback</A>
</div> 
