name: Jekyll site CI link checker

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: fake to run on my machine
      run:  apt-get update && apt-get install docker.io -y
    - name: Build the site in the jekyll/builder container
      run: |
        docker run \
        -v ${{ github.workspace }}:/srv/jekyll \
        jekyll/builder:latest /bin/bash -c "chmod 777 /srv/jekyll && jekyll build"
    - name: Check HTML
      uses: chabad360/htmlproofer@master
      with:
       directory: "${{ github.workspace }}/_site"
       arguments: --allow-hash-href  --empty-alt-ignore --check_img_http
